<div class="mb-3 d-flex justify-content-end">
  <button class="btn btn-outline-primary btn-sm me-2" (click)="switchLanguage('tr')">{{ 'LANG_TR' | translate }}</button>
  <button class="btn btn-outline-secondary btn-sm" (click)="switchLanguage('en')">{{ 'LANG_EN' | translate }}</button>
</div>

<h2>{{ 'TITLE' | translate }}</h2>

<button class="btn btn-primary mb-3" (click)="openAddModal()">{{ 'ADD_CONTACT' | translate }}</button>

<ag-grid-angular
  style="width: 100%; height: 400px;"
  class="ag-theme-alpine"
  [rowData]="contacts"
  [columnDefs]="columnDefs"
  [pagination]="true"
  [paginationPageSize]="5"
  [context]="context"
  [context]="{ componentParent: this }">
</ag-grid-angular>

<app-contact-add
  *ngIf="isModalOpen"
  [editContact]="editContactData"
  (closeModal)="closeModal()"
  (operationMessage)="showMessage($event)">
</app-contact-add>


<div *ngIf="message" class="alert alert-success mt-2">
  {{ message }}
</div>
